body {
  margin: 12px;
  font-family: sans-serif;
}

.sentence {
  line-height: 1.5em;
}

.sentence strong {
  border-radius: 4px;
  background-color: greenyellow;
  padding: 0 4px;
  font-weight: normal;
  font-size: 110%;
}

.sources {
  font-size: 80%;
}

.lights-on-time,
.lights-off-time {
  position: absolute;
  left: 0;
}

.lights-on-time {
  bottom: 0;
}

.lights-off-time {
  top: 0;
}
